header {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('/assets/img/graphics/header.jpg');
    background-size: 100% auto;
    background-position-y: 25%;
}

header.small-header {
    height: 300px;
    background-position-y: 25%;
}

header nav.navbar {
    position: fixed;
    left: 0;
    right: 0;
    background: #562A72;
    z-index: 99999;
    border-bottom: 1px solid #240339;
}

header nav .search-btn {
    color: #240339;
    border-color: #240339;
}

header nav .search-btn:hover {
    color: white;
    border-color: #240339;
    background: #240339;
}

header nav.navbar .dropdown-item.active, header nav.navbar .dropdown-item:focus {
    background: #240339;
}

header .main-header-overlay {
    top: 72px;
    position: relative;
    color: white;
}

header .main-header-overlay .content {
    width: 500px;
}

header .main-header-overlay .h1, header.small-header .overlay .h1 {
    text-shadow: #fff 0 0 2px;
    -webkit-font-smoothing: antialiased;
    font-size: 3rem;
    color: white;
}

header.small-header .overlay .h1 {
    padding-top: 73px;
    font-size: 4rem;
}

header.small-header {
    background: none;
    background-position-y: unset;
}

header.small-header .overlay {
    background: rgba(80, 80, 80, 0.6);
}

header .main-header-overlay p {
    font-size: 1.2rem;
}

header .main-header-overlay .btn {
    border-radius: 99em;
    border: 1px solid #562A72;
    color: #562A72;
}

header .main-header-overlay .btn:hover {
    background: #562A72;
    color: white;
}


h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    color: #562A72;
}

#advertisement {
    border-top: 1px solid #aaa;
    padding-top: 20px;
}

#advertisement .h5 {
    margin-bottom: 0.8rem;
}

.container .sidebar > div {
    margin-bottom: 30px;
}

.container .sidebar .h5 {
    color: black;
    font-weight: bold;
}

.container .sidebar .tags ul {
    list-style-type: none;
    padding: 0;
}

.container .sidebar .tags ul li {
    display: inline-block;
    padding: 0.1rem 1rem 0.1rem 0.5rem;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #666;
    color: #666;
}

.container .sidebar .tags ul li::before {
    content: '\f02c';
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-right: 5px;
}

footer {
    min-height: 300px;
    background: #240339;
    color: white;
    position: relative;
}

footer {
    padding-bottom: 70px;
}

footer .h3 {
    color: white;
}

footer .copyright {
    position: absolute;
    bottom: 0;
    background-color: #562A72;
    color: #240339;
    height: 70px;
    line-height: 70px;
    font-size: 0.9rem;
}

footer a {
    color: #5eacff;
}

footer .links ul {
    list-style-type: none;
    padding-left: 15px;
}

#posts-archive {
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

#posts-archive > .row {
    margin-bottom: 50px;
    align-items: center;
}

#posts-archive .content h3 {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

#posts-archive .content p {
    font-size: 0.9rem;
}

#posts-archive .info-icons {
    font-size: 0.8rem;
    color: gray;
    padding-left: 2px;
}

#posts-archive .info-icons > div {
    display: inline-block;
}

#posts-archive .info-icons > div:not(:last-child)::after {
    content: '•';
}

#posts-archive .info-icons i {
    color: black;
}

#posts-archive .tags {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

#posts-archive .tags i {
    font-size: 0.7rem;
}

#posts-archive .image {
    overflow: hidden;
    height: 135px;
    display: flex;
    align-items: center;
}